.container {
    width: 250px;
    height: 276px;
    padding: 8px;
}


.row {
    display: flex;
    list-style: none;
}

.col {
    width: 50%;
}

.input-container {
    margin:8px 0 0;
    width:124px;
}


.btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin:24px 0 0;
    &__utilities {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width:144px;
    }
}

.title {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 11px;
    color: #888787;
    letter-spacing: 0.2px;
    line-height: 12px;
}


